.quiz {
  width: 900px;
  height: 500px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(0, 183, 255);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  &__container {
    width: 750px;
    height: 350px;
    border-radius: 5px;
    background-color: lightgray;
  }
  &__question {
    font-size: 24px;
    font-family: "Merriweather, seri";
    font-weight: 400;
    color: black;
  }
  &__button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 250px;
    height: 225px;
  }
  &__button {
    font-size: 16px;
    font-family: "Merriweather, seri";
    font-weight: 400;
    height: 35px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(0, 183, 255);
    color: #fff;
  }
  &__next-question {
    width: 250px;
    height: 225px;
    font-size: 16px;
    font-family: "Merriweather, seri";
    font-weight: 400;
    height: 35px;
    border: 0;
    border-radius: 20px;
    background-color: lightgray;
    color: black;
    margin-top: 75px;
  }
}
